#wrap{
	/* footer의 상위 즉 main tag 의 id가 'wrap' */
	min-height: calc(100vh - 10rem); /* footer 높이를 빼준다. */
}

footer {
	height: 10rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.footer-links-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    justify-content: center;
}

.footer-links a {
    text-decoration: none;
    margin: 0 0.5em;
    color: black;
}

.footer-links-container p {
    margin-top: 1em;
}

/* hover효과 */
.footer-links a:hover {
    text-decoration: underline;

    color: #086cb3;
}