footer {
    margin-top: 5rem;
    padding-bottom: 5rem;
    background-color: #edf2f4;
}

.footer-links-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    justify-content: center;
}

.footer-links a {
    text-decoration: none;
    margin: 0 0.5em;
    color: black;
}

.footer-links-container p {
    margin-top: 1em;
}

/* hover효과 */
.footer-links a:hover {
    text-decoration: underline;

    color: #086cb3;
}