@charset "UTF-8";@charset "UTF-8";
/* forum-qnaboard-detail.css */
/* forum-qnaboard(문의게시판)의 상세 페이지에 관한 css */

.qnaboard-view-detail {
    padding: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: center;
}

.qnaboard-view-detail-title {
    border-top: 3px solid gray;
    padding-top: 2em;
    padding-bottom: 2rem;
    font-size: 30px;
}

.qnaboard-view-detail .qnaboard-view-detail-info li {
    display: inline-block;
}

.qnaboard-view-detail-info {
    padding-bottom: 2rem;
}

.qnaboard-view-detail-content {
    background-color: rgb(192, 192, 192);
    padding: 3rem;
}

.qnaboard-view-detail .qnaboard-view-detail-info .qnaboard-view-detail-info-label {
    padding-bottom: 4px;
}

.qnaboard-view-detail .qnaboard-view-detail-info input {
    border: none;
    color: gray;
}

#qnaboard-view-detail-createdTime {
    width: auto;
}

#qnaboard-view-detail-userId {
    width: auto;
}

#qnaboard-view-detail-view {
    width: auto;
}

#qnaboard-view-detail-comment {
    width: auto;
}
/*
.qnaboard-view-detail-content-input {
    background-color: rgb(192, 192, 192);
    border: none;
    padding: 3rem;
}
*/