<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- POSTS 테이블에서 CRUD에 필요한 SQL 문장들을 선언 -->
<mapper namespace = "com.itwill.fourmen.repository.ArtistDao">

	<select id = "getWorksID" resultType = "long">
		select max(worksid) FROM WORKS
	</select>
	
	<select id = "getUserIdByWorksId" resultType = "string">
		select USERID from WORKS where WORKSID = #{worksid}
	</select>

	<select id = "selectOrderByUseridDesc" resultType = "Artist">
		select * from ARTIST order by NICKNAME desc
	</select>
	
	<select id = "selectOrderByUseridDescTop4" resultType = "Artist">
		SELECT
			*
		FROM
			(select * from ARTIST order by NICKNAME desc)
		WHERE rownum <![CDATA[<=]]>4
	</select>
	
	<select id = "selectUserImgByUserid" resultType = "Artist_Img">
		select * from ARTIST_IMG order by USERID desc
	</select>
	
	<select id ="selectUserProfileImgByUserid" resultType = "Artist_Img">
		select * from ARTIST_IMG where USERID = #{userid}
	</select>
	
	<select id = "selectByUserid" resultType = "Artist">
		select * from ARTIST where USERID = #{userid}
	</select>
	
	<select id = "selectWorksListByUserid" resultType = "Artist_Works">
		select * from WORKS where USERID = #{userid} order by WORKSID desc
	</select>
	
	<select id = "selectByWorksid" resultType = "Artist_Works">
		select * from WORKS where WORKSID = #{worksid}
	</select>
	
	<select id = "selectWorksImgByWorksid" resultType = "Artist_Works_Img">
		select * from IMAGES where WORKSID = #{worksid} order by IMGID
	</select>
	
	<select id ="selectWorksImgByImgId" resultType = "Artist_Works_Img">
		select * from IMAGES where IMGID = #{imgid}
	</select>
	
	<update id = "updateArtist">
		update ARTIST set NICKNAME = #{nickname}, ARTIST_BIO_KOR = #{artist_bio_kor}, ARTIST_BIO_ENG = #{artist_bio_eng} where USERID = #{userid}
	</update>
	
	<update id = "updateArtistProfileImg">
		update ARTIST_IMG set ARTIST_O_IMG = #{artist_o_img}, ARTIST_S_IMG = #{artist_s_img} where USERID = #{userid}
	</update>
	
	<update id = "updateArtistProfileImgNull">
		update ARTIST_IMG set ARTIST_O_IMG = NULL, ARTIST_S_IMG = NULL where USERID = #{userid}
	</update>
	
	<insert id = "registerArtist">
		insert into ARTIST values (#{userid}, #{artist_bio_kor}, #{artist_bio_eng}, #{nickname})
	</insert>
	
	<insert id= "registerArtistImg">
		insert into ARTIST_IMG values (#{userid}, #{artist_o_img}, #{artist_s_img})
	</insert>
	
	<insert id = "createWorks">
		insert into WORKS (USERID, TITLE, CONTENT_KOR, CONTENT_ENG) values (#{userid}, #{title}, #{content_kor}, #{content_eng})
	</insert>
	
	<insert id = "createWorksImg">
		insert into IMAGES (WORKSID, CATEGORY, ORIGINAL_FILE, SAVED_FILE) values (#{worksid},'WORKS', #{original_file}, #{saved_file})
	</insert>
	
	<delete id="deleteWorks">
		delete from WORKS where WORKSID = #{worksid}
	</delete>
	
	<delete id ="deleteArtistProfileImg">
		delete from ARTIST_IMG where USERID = #{userid}
	</delete>
	
	<delete id = "deleteArtist">
		delete from ARTIST where USERID = #{userid}
	</delete>
	
	<update id="updateWorksArticle">
		update WORKS set TITLE = #{title}, CONTENT_KOR = #{content_kor}, CONTENT_ENG = #{content_eng} where WORKSID = #{worksid}
	</update>
	
	<delete id="deleteWorksImg">
		delete from IMAGES where IMGID = #{imgid}
	</delete>
</mapper>