<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- POSTS 테이블에서 CRUD에 필요한 SQL 문장들을 선언 -->
<mapper namespace="com.itwill.fourmen.repository.ExhibitionDao">
 	
 
 	
 	

 <select id="list" resultType="Exhibition" parameterType="com.itwill.fourmen.board.Criteria">

        SELECT  ID, NAME, LOCATION, STARTDATE, ENDDATE, PHOTO, SITE

         FROM ( 

                SELECT ID, 

                       NAME, 

                       LOCATION, 

                       STARTDATE, 

                       ENDDATE, 

                       PHOTO,
                       
                       SITE,

                       ROW_NUMBER() OVER(ORDER BY STARTDATE) AS RNUM

                 from TEST 
                 
                 where 1=1
                 <include refid="search"></include>

                               ) MP

        WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}

        ORDER BY ID

    </select>


    

    <select id="listCount" resultType="int">
  

        SELECT COUNT(ID)

          FROM TEST
		where 1=1
         <include refid="search"></include>

    </select>
    
    <sql id="search">
		<if test="category != null">
			<if test="category == 'name'.toString()">AND NAME LIKE '%' || #{keyword} || '%'</if>
			<if test="category == 'location'.toString()">AND LOCATION LIKE '%' || #{keyword} || '%'</if>
		</if>
		<if test="startdate != '' and enddate != ''">
		 and STARTDATE between #{startdate} and #{enddate} or #{startdate} between STARTDATE and ENDDATE
		</if>
		<if test="category != null and startdate != '' and enddate != ''">
		 and STARTDATE between #{startdate} and #{enddate} or #{startdate} between STARTDATE and ENDDATE
		 <if test="category == 'name'.toString()">AND NAME LIKE '%' || #{keyword} || '%'</if>
		 <if test="category == 'location'.toString()">AND LOCATION LIKE '%' || #{keyword} || '%'</if>
		</if>
		
	</sql>
	
  
	
    
</mapper>