<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- FAQ_BOARD 테이블에서 CRUD에 필요한 SQL 문장들을 선언 -->
<!-- namespace: 매퍼 파일에 정의된 SQL 문장들이 어떤 인터페이스와 연결되는지를 지정 -->
<!-- namespace: 매퍼 파일에 정의된 SQL 문장들이 연결되는 인터페이스의 패키지 경로와 클래스 이름 지정 -->
<mapper namespace="com.itwill.fourmen.repository.FaqDao">
    
    <!-- FAQ_BOARD 테이블 전체 검색, 글 번호 내림차순 정렬 -->
    <select id="selectOrderByFaqNumDesc" resultType="Faq"> <!-- DB에서 select 시 반환되는 값의 타입 설정 -->
        select * from FAQ_BOARD order by FAQ_NUM desc
    </select>
    
    <!-- FAQ_BOARD 테이블에서 아이디(PK)로 검색 -->
    <select id="selectByFaqId" resultType="Faq"> <!-- DB에서 select 시 반환되는 값의 타입 설정 -->
        select * from FAQ_BOARD where FAQ_ID = #{faq_id}
    </select>
    
    <!-- FAQ_BOARD 테이블에 새 포스트 삽입 -->
    <insert id="faqboard_insert">
        insert into FAQ_BOARD (FAQ_TITLE, FAQ_CONTENT) values (#{faq_title}, #{faq_content})
        <!-- #{} 부분은 대소문자 구별! (Faq class 에서 작성한 것과 같아야 함 -->
        <!-- #{} 부분은 입력한 객체의 getter 메서드를 호출한다고 생각하면 됨 -->
        <!-- ex. #{faq_title} -> Faq 클래스의 getFaq_title() 메서드 실행하는 것 -->
    </insert>
    
    <!-- FAQ_BOARD 테이블에서 입력한 아이디에 해당하는 포스트 삭제 -->
    <delete id="faqboard_delete">
        delete from FAQ_BOARD where FAQ_ID = #{faq_id}
    </delete>
    
</mapper>