<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.fourmen.repository.MyPageDao">
    
    <select id="readMyMessage" resultType="Message">
        SELECT *
        FROM messages
        WHERE recipient = #{signedInUser}
    </select>
    
    <select id="readMyMessageById" resultType="Message">
        SELECT *
        FROM messages
        WHERE id = #{id}
    </select>
    
    <insert id="sendMessage">
        INSERT INTO messages (sender, recipient, workid, title, content, price_offered)
        VALUES (#{sender}, #{recipient}, #{workId}, #{title}, #{content}, #{price_offered})
    </insert>
    
    <insert id="replyMessage">
        INSERT INTO messages (sender, recipient, workid, title, content, price_offered, price, reply_to)
        VALUES (#{sender}, #{recipient}, #{workId}, #{title}, #{content}, #{priceOffered}, #{price}, #{replyTo})
    </insert>
    
    
</mapper>