<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.fourmen.repository.MyPageInfoDao">
    
    <select id="countTotNumber" resultType="Integer">
        SELECT count(*) FROM market WHERE userid = #{signedInUser}
    </select>
    
    <update id="updatePassword">
        UPDATE users SET password = #{newPassword} WHERE userid = #{userid}
    </update>
    
    
    
</mapper>