<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.fourmen.repository.MyPageDao">
    
    <select id="readMyMessage" resultType="Message">
        SELECT *
        FROM messages
        WHERE recipient = #{signedInUser}
        ORDER BY id DESC
        OFFSET #{startingPage} ROWS FETCH NEXT #{postsPerPage} ROWS ONLY
    </select>
    
    <select id="totNumOfMessages" resultType="Integer">
        SELECT count(*)
        FROM messages
        WHERE recipient = #{signedInUser}
    </select>
    
    <select id="totNumOfSentMessages" resultType="Integer">
        SELECT count(*)
        FROM messages
        WHERE sender = #{signedInUser}
    </select>
    
    <select id="readFirstMessages" resultType="Message">
        SELECT *
        FROM messages
        WHERE reply_to is null
        ORDER BY id DESC
    </select>
    
    <select id="readSentMessage" resultType="Message">
        SELECT *
        FROM messages
        WHERE sender = #{signedInUser}
        ORDER BY id DESC
        OFFSET #{startingPage} ROWS FETCH NEXT #{postsPerPage} ROWS ONLY
    </select>
    
    <select id="readReply" resultType="Message">
        SELECT *
        FROM messages
        WHERE reply_to = #{id}
    </select>
    
    
    <select id="findParentMessage" resultType="Message">
        SELECT *
        FROM messages
        WHERE id = #{replyTo}
    </select>
    
    
    <select id="readMyMessageById" resultType="Message">
        SELECT *
        FROM messages
        WHERE id = #{id}
    </select>
    
    <insert id="sendMessage">
        INSERT INTO messages (sender, recipient, workid, title, content, price_offered)
        VALUES (#{sender}, #{recipient}, #{workId}, #{title}, #{content}, #{price_offered})
    </insert>
    
    <insert id="replyMessage">
        INSERT INTO messages (sender, recipient, workid, title, content, price_offered, price, reply_to)
        VALUES (#{sender}, #{recipient}, #{workId}, #{title}, #{content}, #{priceOffered}, #{price}, #{replyTo})
    </insert>
    
    <update id="updateMessageForDeletedUserSender">
        UPDATE messages SET sender = '탈퇴한 회원' WHERE sender = #{signedInUser}
    </update>
    
    <update id="updateMessageForDeletedUserRecipient">
        UPDATE messages SET recipient = '탈퇴한 회원' WHERE recipient = #{signedInUser}
    </update>
    
    
    
</mapper>