<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- NOTICE_BOARD 테이블에서 CRUD에 필요한 SQL 문장들을 선언 -->
<!-- namespace: 매퍼 파일에 정의된 SQL 문장들이 어떤 인터페이스와 연결되는지를 지정 -->
<!-- namespace: 매퍼 파일에 정의된 SQL 문장들이 연결되는 인터페이스의 패키지 경로와 클래스 이름 지정 -->
<mapper namespace="com.itwill.fourmen.repository.NoticeDao">
    
    <!-- NOTICE_BOARD 테이블 전체 검색, 글 번호 내림차순 정렬 -->
    <select id="selectOrderByNoticeIdDesc" resultType="Notice"> <!-- DB에서 select 시 반환되는 값의 타입 설정 -->
        select * from NOTICE_BOARD order by NOTICE_ID desc
    </select>
    
    <!-- NOTICE_BOARD 테이블에서 아이디로 검색 -->
    <select id="selectByNoticeId" resultType="Notice"> <!-- DB에서 select 시 반환되는 값의 타입 설정 -->
        select * from NOTICE_BOARD where NOTICE_ID = #{notice_id}
    </select>
    
    <!-- NOTICE_BOARD 테이블에 새 포스트 삽입 -->
    <insert id="noticeboard_insert">
        insert into NOTICE_BOARD (NOTICE_TITLE, NOTICE_CONTENT) values (#{notice_title}, #{notice_content})
        <!-- #{} 부분은 대소문자 구별! (Notice class 에서 작성한 것과 같아야 함 -->
        <!-- #{} 부분은 입력한 객체의 getter 메서드를 호출한다고 생각하면 됨 -->
        <!-- ex. #{notice_title} -> Notice 클래스의 getNotice_title() 메서드 실행하는 것 -->
    </insert>
    
    <!-- NOTICE_BOARD 테이블에서 입력한 아이디에 해당하는 포스트 삭제 -->
    <delete id="noticeboard_delete">
        delete from NOTICE_BOARD where NOTICE_ID = #{notice_id}
    </delete>
    
    <!-- NOTICE_BOARD 테이블에서 입력한 게시글 아이디에 해당하는 포스트 조회수 1씩 증가 -->
    <update id='noticeboard_addView'>
        update NOTICE_BOARD set NOTICE_VIEW_COUNT = NOTICE_VIEW_COUNT + 1 where NOTICE_ID = ${notice_id}
    </update>
    
</mapper>